@model IEnumerable<Neurocom.ViewModels.AdminViewModels.NetworkTaskViewModel>

@{
    ViewBag.Title = "ChooseNetworkType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="center">Виберіть доступну мережу</h3>

<div class="row">
    <div class="col s6 offset-s3">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Network ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Network Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.NetworkTypeProperty</td>
                        <td>
                            @using (Html.BeginForm("NetworkDataInput", "ManageTestNetworks"))
                {
                                @Html.Hidden("TaskName", item.TaskName)
                                @Html.Hidden("Name", item.Name)
                                <input type="submit" value="Створити мережу" class="waves-effect waves-light btn"/>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
