@model IEnumerable<Neurocom.ViewModels.AdminViewModels.NetworkViewModel>

@{
    ViewBag.Title = "NetworkList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список мереж</h2>

<table class="table-bordered">
    <tr>
        <th>Назва мережі</th>
        <th>Тип</th>
        <th>Опис типу</th>
        <th>Опис мережі</th>
        <th>Зображення</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NetworkName</td>
            <td>@item.NetworkType</td>
            <td>@item.TypeDescription</td>
            <td>@item.NetworkDescription</td>
            <td>
                @if (item.NetworkName.Equals("BPN"))
                {
                    <img height="200" width="300" src="~/Content/Images/back_propagation.PNG">
                }
                else
                {
                    <img height="200" width="300" src="~/Content/Images/lvq.PNG">
                }
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Повернутись до особистого кабінету", "Index")
</div>
