@model Neurocom.ViewModels.AdminViewModels.ApplicationUserViewModel

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="center">Редагування @Model.UserName</h3>
<div class="row">
    <div class="col s8 offset-s2">
      @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
      {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "validate" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validate" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "validate" })
                </div>
            </div>
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "validate" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "validate" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Зберегти зміни" class="waves-effect waves-light btn" />
                </div>
            </div>

            <div class="editor-label">Зображення</div>
            <div>
                @if (Model.ImageData == null)
                {
                    <img class="materialboxed"  width="300"  src="~/Content/Images/avatar.PNG" />
                }
                else
                {
                    <img class="materialboxed" width="300"  src="@Url.Action("GetAvatar", "Branch", new {userId = Model.Id })" />
                }
                <div>
                    Завантажити нову аватарку:
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Файл</span>
                            <input type="file" name="image">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="center">
                <h5 class="header col s12">@Html.ActionLink("Закрити форму та повернутись до списку користувачів", "ManageUsers")</h5>

            </div>


        </div>
      }

    </div>
</div>



