@model IEnumerable<Neurocom.Models.ApplicationUser>

@{
    ViewBag.Title = "Адміністрування: усі користувачі";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Менеджмент користувачів системи</h1>


<table class="Grid">
    <tr>
        <th>UserID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th class="NumericCol">Phone number</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@Html.ActionLink(item.UserName, "EditUser", new { userId = item.Id })</td>
            <td>@item.Email</td>
            <td>@item.Address</td>
            <td class="NumericCol">@item.PhoneNumber</td>
            <td>
                @using (Html.BeginForm("DeleteUser", "Admin"))
                {
                    @Html.Hidden("userId", item.Id)
                    <input type="submit" value="Видалити" />
                }
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Додати нового користувача", "CreateUser")
</p>
